*{
	width: auto;
	height: auto;
}
h1 {
	text-align: center;
	padding: 15px;
	background-color: #666;
	color: white;
	}

#clear{
	background-color: rgb(255, 102, 0);
}

.formS
{
width: 550px;
height: fit-content;
margin: auto;
border: 3px solid skyblue;
border-radius: 5px;
padding: 20px;
background-color: #666;
}



input
{
width: 90px;
background-color: rgb(51, 66, 51);
color: white;
border: 3px solid gray;
	border-radius: 8px;
	padding: 26px;
	margin: 5px;
	font-size: 25px;
	cursor: pointer;
	
}


#calc{
width: 300px;
border: 5px solid black;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	background-color: rgb(51, 66, 51);
    color: white;
}


/*button styles*/
.btn {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .btn:hover {background-color: #3e8e41}
  
  .btn:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
  @media screen and (max-width: 375px) {

	.formS{
		display: flex;
		flex-wrap: wrap;
	
		width: 100%;
		margin: 0px;
		align-content: center;
	}
	 }
	 @media screen and (max-width: 700px) {

		.formS{
			display: flex;
			flex-wrap: wrap;
		    align-content: center;
			width: 100%;
			margin: auto;
		}
		 }
	
	
	
	



 